
Week 10\static\kongImg.jpg
Week 10\static\myImg.jpg
Week 10\templates\form.html
Week 10\templates\movies.html
Week 10\templates\name.html
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover