<title> Movie Quotes</title>
<link rel="stylesheet" type="text/css" href="static/basic.css">
<h1>Welcome to about me!</h1>
<h1>I love movies and hope you enjoy them too!</h1>

<p></p>


<p> Location </p>
<a href= "hello/Sanchez"> Check out my hobbies </a>
<P></P>
<img src ="/static/myImg.jpg" style="width:40%"> </img>
<p></p>

<a href= "rank/Movies"> Check out my rank for moveis.</a>
<P></P>

<img src ="/static/kongImg.jpg" style="width:50%"> </img>
<p></p>

<a href="/form">Check out my form.</a>
<p></p>

